<div class="card">
    <div class="card-header">
        Empleados
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of Empleados; let iControl=index">
                    <td>{{empleado.id}}</td>
                    <th>{{empleado.nombre}}</th>
                    <th>{{empleado.correo}}</th>
                    <th>
                        <a routerLink="/editar-empleado/1">Editar</a>
                    </th>
                </tr>
            </tbody>
        </table>
    
    </div>
</div>