<div class="card">
    <div class="card-header">
        Empleados
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <th>Ronal</th>
                    <th>ronal@gmail.com</th>
                    <th>
                        <a routerLink="/editar-empleado/1">Editar</a>
                    </th>
                </tr>
            </tbody>
        </table>
    
    </div>
</div>